<div>
    <div class="alert alert-info">
             @Title
    </div>
    @if(ChildContent!=null)
    {
        <div class="alert alert-success">
            @ChildContent
        </div>
    }
</div>
@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent{ get; set; }
}
