<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LearnBlazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/learnBlazor/demoproduct">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Demo Product
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/learnBlazor/parentComponent">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Parent / Child Relation
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="/learnRouting?Param1=Learn&Param2=Blazor" Match="NavLinkMatch.Prefix">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Routing
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="/blazorjs">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Blazor JS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/lifecycle">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Blazor LifeCycle
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/blazor-forms">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Forms Demo
            </NavLink>
        </div>
    </nav>
</div>

