@page "/learnBlazor/bindprop"


<h3>Product - Data Binding</h3>

Name : @Product.Name <br />
IsActive : @Product.IsActive



@code {
    Models.Product Product = new()
    {
        Id=1,
        Name="Product 1",
        IsActive=true
    };
}
